<!DOCTYPE html>
<html lang="en">
<script src="{{ url_for('static', filename='js/stars.js') }}"></script>
<link type="text/css" href="{{ url_for('static', filename='css/star.css') }}" rel="stylesheet">
<head>
    <h1>Aishwarya Salian</h1>
    <h1> ID: 1001415324</h1>
    <meta charset="UTF-8">
    <title>Give Ratings</title>
</head>
<body>
<h1>Star Rating/Comments</h1>
<form action="{{ url_for('giveRatings', image_id = image_id) }}" method="POST" enctype="multipart/form-data">
    <span class="star-cb-group">
      <input type="radio" id="rating-5" name="rating" value="5" required/><label for="rating-5">5</label>
      <input type="radio" id="rating-4" name="rating" value="4"/><label for="rating-4">4</label>
      <input type="radio" id="rating-3" name="rating" value="3"/><label for="rating-3">3</label>
      <input type="radio" id="rating-2" name="rating" value="2"/><label for="rating-2">2</label>
      <input type="radio" id="rating-1" name="rating" value="1"/><label for="rating-1">1</label>
      <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear"/><label for="rating-0">0</label>
    </span>
    <p>Give your Comments: </p>
    <textarea rows="5" cols="51" name="comments" placeholder="Enter the comments in max. 255 characters"></textarea>
    <input type="submit" value="Submit" name="submit">
</form>
</body>
</html>