<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Aishwarya Salian</h1>
    <h1> ID: 1001415324</h1>
    <title>Login Page</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<h1 align="center">Login Page</h1>
<form action="/login" method="POST">
    <input type="text" name="Username" placeholder="Username" required>
    <input type="submit" name="login" value="Login">
</form>
<br><br>
<form action="/registerPage" method="POST">
New User?
    <input type="submit"      name="register"       value="Register Here"></form>

</body>
</html>