<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<H1>Hi $username </H1>
<h1>File Upload</h1>
<h1>Here you can upload a file</h1>
<form id="upload_form" action="/uploadImage" method="POST" enctype="multipart/form-data">
    Title:<input type="text" name="title" placeholder="Image title">
    <br>
    Upload image:<input type="file" name="upload_image" accept="uploaded_image/*" multiple>
    <br>

    <input type="submit" name="upload" value="Upload">
</form>



</body>
</html>