<!DOCTYPE html>
<html>
<head>
    <h1>Aishwarya Salian</h1>
    <h1> ID: 1001415324</h1>
    <title>Upload your files</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<h1 align="center">Picture Upload</h1>
<table align="center">
    <form action="/uploadFiles" method="POST" enctype="multipart/form-data">
        <tr>
            <th>Upload your file here :</th>
            <td><input type="file" name="file_upload"></td>
            <td><input type="submit" name="upload" value="Upload"></td>
        </tr>
        <tr>
            <th>Enter the title:</th>
            <td><input type="text" name="title" placeholder="Enter title for Image" required></td>
        </tr>
    </form>
</table>
</body>
</html>
